<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/admin.css">
    <title>MyHelpdesk</title>
    <style>
        .display-message {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            font-size: 0.9em;
            color:white;
            width: 100%;
            height: 2rem;
            text-align: center;
        }
        .alert-danger {
            background: red;
        }
        .alert-success {
            background: green;
        }
        .link-nav-bar  {
            display: flex;
            align-items: center;
            align-content: center;
            padding-left:4px ;
            text-decoration: none;
            width: 100%;
            text-align: start;
            border: none;
            line-height: 1rem;
            border-radius: .25rem;
            font-weight: 600;
            min-height: 48px;
            font-size:16px;
            background-color:#fcbc05;
            color: rgb(27 74 147);
        }
    </style>
</head>
<body class="dashboard-wrapper">
<aside>
    <img src="/images/mary.svg" class="logo-dashboard" alt="logo de l'entreprise Mary">
    <a href="/admin" class="link-nav-bar">
        <span>Accueil</span>
    </a>
    <a href="/workspaces" class="link-nav-bar">
        <span>Espaces de travail</span>
    </a>
    <a href="/previous" class="link-nav-bar">
        <span>Conversations administrateur</span>
    </a>
    <a href="/all-conversations" class="link-nav-bar">
        <span>Conversations des utilisateurs</span>
    </a>
</aside>

<main class="main-dashboard">
    <div class="header-dashboard">
        <h2>Bienvenue {{ username }} !</h2>
        <a href="/logout" class="logout-link">Déconnexion</a>
    </div>

    <section class="chatbot-section">
        <h3>Initier une conversation avec le Chatbot</h3>
        <form action="/start-conversation" method="POST">
            <div class="select-wrapper">
                <select name="workspace_slug" id="workspace" required>
                    <option value="" disabled selected>Sélectionnez un contexte</option>
                    {% if workspaces is empty %}
                        <option value="">Aucun espace de travail</option>
                    {% else %}
                        {% for workspace in workspaces %}
                            <option value="{{ workspace.slug }}">{{ workspace.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>

            </div>

            <input type="text" name="message" id="chatbot-query" class="chatbot-searchbar" placeholder="Posez votre question..." required>
            <button type="submit" class="chatbot-submit">Envoyer</button>
        </form>
    </section>

</main>

<script src="/js/logout.js"></script>

</body>
</html>
